<h3 class="alert alert-success"> Список подавших заявки на участие: </h3>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ФИО</th>
      <th scope="col">Возраст</th>
      <th scope="col">Телефон</th>
      <th scope="col">Город</th>
      <th scope="col">Ссылка</th>
      <th scope="col">История</th>
    </tr>
  </thead>
  <tbody>
  	<% @actors.each do |actor| %>
	    <tr>
	      <th scope="row"> <%= actor.id %> </th>
	      <td> <%= actor.name %> </td>
	      <td> <%= actor.age %> </td>
	      <td> <%= actor.phone %> </td>
	      <td> <%= actor.city %> </td>
		  <td> <%= actor.link %> </td>
		  <td> <%= actor.role %> </td>
	    </tr>
	<% end %>
  </tbody>
</table>


<h3> Список кураторов: </h3>

<% @curators.each do |curator| %>
	<p>
		<%= curator.name %>
	</p>
<% end %>
